# ---- approval-service configuration ----
SERVICE_NAME=approval-service
NODE_ENV=production
PORT=4004

CDS_REQUIRES_DB_KIND=postgres
CDS_REQUIRES_DB_CREDENTIALS_HOST=postgres
CDS_REQUIRES_DB_CREDENTIALS_PORT=5432
CDS_REQUIRES_DB_CREDENTIALS_USER=vip_app
CDS_REQUIRES_DB_CREDENTIALS_PASSWORD=vip_app_pw
CDS_REQUIRES_DB_CREDENTIALS_DATABASE=approvaldb

# Downstream service
INVOICE_SERVICE_URL=http://invoice-service:4004/odata/v4/invoice

SYSTEM_USER=system
SYSTEM_PASSWORD=system-secret
